<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less" />
    <title> Less </title>
</head>
<body>

    <h1>Exercicio 01</h1>
    <h2> Exemplo de uso do LESS </h2>

    <a href="/index.js">INDEX</a>
    <a href="/less">HOME</a>
    <a href="/historia">HISTORIA</a>



    <p><b>Lorem ipsummm</b> lorem ipsum </p>
    <br />

    <div id="div-1">
        <b>DIV 1</b> lorem ipsum
    </div>
    <br />
    <div id="div-2">
        <b>DIV 2</b> lorem ipsum
    </div>
    <br />

    <div id="div-3">
        <b>DIV 2</b> lorem ipsum
    </div>
    <br />

    <script src="https://cdn.jsdelivr.net/npm/less" ></script>

    <script>
        less = {env: 'production'};
    </script>

</body>
</html>